// my variables

$small-break: 700px;


.wrapper{
	margin-right:15% !important;
	
}

.page-content{
	margin:0px;
	padding:0px;

}
.post-wrapper{
	border-radius:20px;
	//display:flex;
	width:100%;
	margin:0px;


}

.content-wrapper{
	padding:3% 3% 0;
	border:4px solid #A1D490;
	border-radius:20px;
	margin:2% 0;
	width:100% ;
	}

.slide-out-tags{
	margin:35px 0px;

	display:none;

	}

.inline-tags{
display:none;
}
.labels{
	padding: 0px;
    margin: 0px;
    //background:lightgray;
    width:100%;
    height:40px;
        border-top: solid black 1px;
    //margin-top: 30px;
   
}
.category,.date{
	padding:10px;
	margin:10px 0 -1 -1;
	
	
}
.date{
	//background:#90C3D4;
	width: 40%;
    float: left;

}
.category{
	//background:#C390D4;
	width: 40%;
    float: right;
    text-align: right;
}

.strikethrough{
    text-decoration: line-through;

}
@media only screen and (max-width: $small-break) {
	.wrapper{
	margin:0 8% 0 1% !important;
	padding:0px !important;
	
}
 
}