// my variables

$small-break: 600px;

body {
	background:#f5f5f5 !important;
}
.wrapper{
	margin:auto;
	max-width:50% !important;
	
}
.head-wrapper,.foot-wrapper{
	margin:auto;
	max-width:60% !important;
	
}
.contact-form{
	max-width: 20em;
	margin: 2em auto;
	padding:1em;
	border: 1px solid black;
}
.page-content{
	margin:0px;
	padding:0px;

}
.post-wrapper{
	border-radius:20px;
	//display:flex;
	width:100%;
	margin:0px;


}
// ul.social-media-list {
// 	display: flex !important;
// 	// background:white;
// 	li{
// 	width: 2em;
// 	padding: 5px;
	
// }
//  }
 ul.social-media-list {
	 display: flex;
	 margin:auto;
	width:19em;
	a{
		color:black;
	} 
	a:hover{
		color:darkgray;
	}
	li{
		 background: white;
		 border:1px solid;
    border-radius: 50px;
    padding: 10px;
	text-align: center;
	margin:10px;
 }
}

.svg-inline--fa {
	
	width:1em !important;
	font-size: 2em !important;
}
.icon > svg {
	width:30px !important;
	height: 30px !important;
}

.content-wrapper{
	padding:3% 3% 0;
	border:4px solid #A1D490;
	border-radius:20px;
	margin:2% 0;
	width:100% ;
	}

.slide-out-tags{
	margin:35px 0px;

	display:none;

	}

.inline-tags{
display:none;
}
.labels{
	padding: 0px;
    margin: 0px;
    //background:lightgray;
    width:100%;
    height:40px;
        border-top: solid black 1px;
    //margin-top: 30px;
   
}
.category,.date{
	padding:10px;
	margin:10px 0 -1 -1;
	
	
}
.date{
	//background:#90C3D4;
	width: 40%;
    float: left;

}
.category{
	//background:#C390D4;
	width: 40%;
    float: right;
    text-align: right;
}
form textarea{
	height: 15em;
}
.strikethrough{
    text-decoration: line-through;

}
@media only screen and (max-width: $small-break) {
	.wrapper{
	margin:0 8% 0 1% !important;
	padding:0px !important;
	
}
 
}